.font-page-elements img{
    width: 90%;
}

h3{
    color: #E37222;
}

h1{
    color: #E37222;
}

.SWOT img{
    height: auto;
    width: 50%;
}

.logo-ideas img{
    width: 70%;
}

.nav-bar img{
    height: 400px;
}

.Persona img{
    height: auto;
    width: 90%;
}

.sign-in-img img{
    width:100%;
    height: 200px;
    object-fit:scale-down;
}

.home-page-img img{
    width: 40%;
}

@media (max-width: 790px){

   .nav-bar img{
        height: 300px;
    }
}

@media (max-width: 1024px) {
    .column.half{
        width: 100%;
    }

    .logo-ideas.column.third {
        width: 100%;
    }

    .logo-ideas img{
        width: 40%;
    }

    .sign-in-img.column.third{
        width: 100%;
    }

    .home-page-img img{
        width: 60%;
    }

}
