.side-nav-3{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 60px;
    z-index: 0;
}
.side-nav-3 > ul{
    display: table;
    height: 100%;
    width: 100%;
    background-color: white;
    -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
    position: relative;
}

.side-nav-3 ul > li a {
    display: table-cell;
    vertical-align: middle;
        padding: 0px 3%
}

.side-nav-3 ul > li{
    float: left;
    width: 33.3%;
    padding-right: 0%;
    font-size: 18px;
    padding-left: 0%;
    display: table;
    height: 100%;
    text-align: center;
}

.side-nav-3 ul > li >a:hover{
    color: inherit;
}

.side-nav-3 ul > li:hover{
    opacity: 1;
    color: #D6665A;
}

.font-page-elements img{
    width: 90%;
}

.SWOT img{
    height: auto;
    width: 80%;
}

.chosen-logo img{
    height: auto;
    width: 50%;
}

.logo-ideas img{
    width: 70%;
}

.nav-bar img{
    width:80%;
    height: auto;
    object-fit:scale-down;
}

.Persona img{
    height: auto;
    width: 90%;
}

.sign-in-img img{
    width:100%;
    height: auto;
    object-fit:scale-down;
}

.home-page-img img{
    width: 100%;
}

@media (max-width: 790px){
    div.column.third.nav-bar{
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    .nav-bar img{
    width:80%;
    height: auto;
    object-fit:scale-down;
}
    
   .nav-bar img{
        height: 300px;
    }
    
    .nav-container h4{
        font-size: .8rem;
     }
    
    .side-nav-3 ul > li{
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .column.half{
        width: 100%;
    }

    .logo-ideas.column.third {
        width: 100%;
    }

    .logo-ideas img{
        width: 40%;
    }

    .sign-in-img.column.third{
        width: 100%;
    }

    .home-page-img img{
        width: 60%;
    }

}

@media (max-width: 400px) {
    h1{
        font-size: 36px;
         margin-top: 50%;
     }
    
    .side-nav-3{
        top: 70px;
    }
    
    .side-nav-3 ul > li{
        font-size: 10px;
    }
}
