*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
}

.column.full { 
    width: 100%; 
    padding-left:20%;
    padding-right:20%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }

.padpad{
    margin: 5% 0 5% 0;
}

.mobile-tabs{
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #105A6A;
    display: none;
}

ul, li, a {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
ul > li {
    float: right;
    height: 70px;
    display: table;
    padding-left: 8%;
    padding-right: 8%;
}

.active{
    background-color: #D6665A;
}

ul > li i.fa.fa-navicon{
    display: table-cell;
    vertical-align: middle;
}

ul > li a {
    color: black;
    line-height: 40px;
    height:40px;
    display:block;
    padding:0px 5%;
}

ul li ul {
    display: none;
    position: absolute;
    background: white;
    top:70px;
    width: 150px;
    right: 0px;
    border-radius: 0 0 0 15px;
     -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

ul li ul li {
    float: none;
    text-align: center;
    display: table;
    height: 70px;
    width: 100%;
}

ul li ul li a{
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}



.fa.fa-navicon{
    color: white;
}

.nav-tabs{
    height: 60px;
    width: 100%;
    position: fixed;
    background: -webkit-linear-gradient(left top, #105A6A, rgba(16, 90, 106, .6));
}

.nav-tabs ul{
  list-style-type:none;
  display:flex;
  justify-content: center;
  padding: 0%;
  height: 100%;
    margin: 0%;
}

.nav-tabs ul li{
  display: list-item;
  padding: 1% 3%;
  margin: auto 3px;
  font-size: 24px;
}

.nav-tabs li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.nav-tabs li a:hover{
  cursor: pointer;
  font-weight: bolder;
  -webkit-transform: scale(1.1);
}

.nav-container a:hover{
    color: #D6665A;
}

.fa.fa-navicon.dropbtn{
    color: white;
}

a:hover{
    cursor: pointer;
}

.column.two-thirds{
    padding-left: 0%;
    padding-right: 0%;
    width: 72%;
}

.column.two-thirds p:hover{
    color: #D6665A;
    cursor: pointer; 
}

.column.two-thirds p{
    color: white;
    Font-family: Arvo, Helvetica, Arial, sans-serif;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    padding-left: 13%;
    margin-top: 0%;
}

.hidden{
    display: none;
}



.hero-img{
    width:80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
.column{
    text-align: center;
}

.top-img{
    padding-top: 5%;
}

.top-mar-img{
    padding-top: 2%;
}

.two-thirds p a{
    color: inherit;
    text-decoration: none;
}

p a{
    color: black;
}

p a:hover{
    color: #D6665A;
}

.img-background{
    background-color: rgba(67, 132, 150, .1);
    padding-bottom: 5%;
}

.img-background p{
    text-align:center;
    margin-top:0%;
    font-size: 1rem;
    line-height: 1.2;
}

p{
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin-top: 1%;
}

h3{
    font-size: 32px;
    Font-family: Arvo, Helvetica, Arial, sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
    text-transform: uppercase;
    text-align: left;
    color: #DC9B74;
}

h1{
    margin-top: 100px;
    font-size:64px;
    Font-family: Arvo, Helvetica, Arial, sans-serif;
    margin-bottom: 0%;
    color: #D6665A;
    
}

h2{
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
    font-weight: 100;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 5%;
}

h4{
    text-align: left;
    font-size: 24px;;
    margin-bottom:0%;
    margin-top: 0%;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.column.full.suggested{
    padding-left: 0%;
    padding-right: 0%;
    height: 40%;
}

.humankind{
    background-image: url(../images/humankind_background.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 30%;
    height: 100%;
}

.heartbeatz{
    background-image: url(../images/Blocjams_Image.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 60%;
    height: 100%;
}

.traks{
    background-image: url(../images/Traks_Image.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 60%;
    height: 100%;
}

.open-hand{
    background-image: url(../images/Open_hand_background.png);
    background-repeat:no-repeat;
    background-size: 800px auto;
    background-position: 20% 20%;
    height: 100%;
}

.suggested-title h3{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 0%;
    font-weight: lighter;
}

div.column.third.humankind{
    display: table;
    text-align: center;
    border: 3px solid white;
}

div.column.third.open-hand{
    display: table;
    text-align: center;
    border: 3px solid white;
}

div.column.third.heartbeatz{
    display: table;
    text-align: center;
    border: 3px solid white;
}

div.column.third.traks{
    display: table;
    text-align: center;
    border: 3px solid white;
}


div.column.third.traks:hover{
     box-shadow: inset 0 0 0 15px rgba(255, 255, 255, .8);
    border-radius: 10px;
    cursor: pointer;
}

div.column.third.humankind:hover{
    box-shadow: inset 0 0 0 15px rgba(255, 255, 255, .8);
    border-radius: 10px;
    cursor: pointer;
}

div.column.third.heartbeatz:hover{
    box-shadow: inset 0 0 0 15px rgba(255, 255, 255, .8);
    border-radius: 10px;
    cursor: pointer;
}

div.column.third.open-hand:hover{
    box-shadow: inset 0 0 0 15px rgba(255, 255, 255, .8);
    border-radius: 10px;
    cursor: pointer;
}


.hidden{
    display:none;
}

.text-middle{
    display: table-cell;
    vertical-align: middle;
}

.text-middle h2{
    color: white;
    font-size: 36px;
    opacity: 1;
    margin-top: 0%;
    margin-bottom: 1%;
    text-align: center;
    Font-family: Arvo, Helvetica, Arial, sans-serif;
}

.text-middle h4{
    color: white;
    font-size: 22px;
    opacity: .9;
    margin-top: 0%;
    font-weight: lighter;
    text-align: center;
}

.column.full.cs-title{
    padding-left: 0%;
    padding-right: 0%;
}

.column.full.cs-subtitle{
    padding-left: 0%;
    padding-right: 0%;
}

.reflections{
    margin-bottom: 5%
}

button {
    background-color: #D6665A;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-bottom: 5%;
}

.footer{
    background: -webkit-linear-gradient(left top, #105A6A, rgba(16, 90, 106, .6));
    height: 70px;
    color: white;
}

.icons{
    float: right;
    text-align: center;
}

.fa{
    font-size: 36px;
}

.column.full.icons{
    padding-left: 0%;
    padding-right: 0%;
}

.column.full.footer{
    padding-left: 0%;
    padding-right: 0%;
}

div.column.third.footer-icons{
    height: 70px;
    display: table;
}

div.column.third.footer-icons p{
    display: table-cell;
    vertical-align: middle;
}

div.column.third.footer-icons a{
    display: table-cell;
    vertical-align: middle;
    color: white;
}

button:hover {
    cursor: pointer;
    padding: 1.5x 1.5x;
    font-weight: 600;
}

@media (max-width: 1024px) {
    html { font-size: 120%; }
    
    
    .column.full { 
        width: 100%; padding-left:10%;
        padding-right:10%;
    }
    
   .img-background p{
       font-size: .8rem;
   }

}

@media (max-width: 900px) {
    div.column.third.humankind{
        width: 100%;
        height: 70%;
    }

    div.column.third.heartbeatz{
        width: 100%;
        height: 70%;
    }

    div.column.third.traks{
        width: 100%;
        height: 70%;
    }
    
    div.column.third.open-hand{
        width: 100%;
        height: 70%;
    }
    
    .open-hand{
    background-size:cover;
    background-position: 50% 60%;
}

@media (max-width: 790px) {
    h3{
       font-size: 24px;
    }
    
    div.column.full.title-section{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    h1{
       font-size: 44px;
    }

    h2{
       font-size: 16px;
    }

    h4{
       text-align: left;
       font-size: 22px;
       margin-bottom:0%;
    }
    
    p{
        font-size: 18px;
    }
    
    .nav-tabs ul li{
        font-size: 16px;
        padding: 1% 3%;
    }
    
    .nav-tabs li a{
        width: 70px;
    }
}

@media (max-width: 400px) {
    
    .hero-img{
        width:100%;
        margin-bottom: 20%;
    }
    
    .mobile-tabs{
        display: block;
    }
    
    .nav-tabs{
        display: none;
    }
    
     .img-background p{
        font-size: .7rem;
     }


     p{
        font-size: 16px;
         line-height: 1.7;
     }

     h3{
        font-size: 20px;
     }

    
    
     h1{
        font-size: 38px;
         margin-top: 50%;
     }

     h2{
        font-size: 12px;
     }

     h4{
        text-align: left;
        font-size: 18px;
        margin-bottom:0%;
     }

    .logo{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 10%;
    }

    button {
        padding: 10px 10px;
        font-size: 14px;
    }
    
    .nav-tabs{
        height: 60px;
    }
    
    .text-middle h2{
        font-size: 32px;
    }

    .text-middle h4{
        font-size: 16px;
    }
    
    div.column.full.icons{
        padding-left: 0%;
        padding-right: 0%;
    }
    
    div.column.full.suggested-title{
        margin-top: 10%;
        padding-left: 0%;
        padding-right: 0%;
    }

}
