*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
}

.column.full { width: 100%; padding-left:20%;
    padding-right:20%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }

.half-text-left{
    padding-left: 20%;
    padding-right: 5%;
}

.half-text-right{
    padding-right: 20%;
    padding-left: 5%;
}

.logo{
    position:absolute;
    left: 2%;
    top: 2%;
    width: 8%;
}

.logo img{
    width: 100%;
}

h4 a{
    text-decoration: none;
    color: black;
}

.nav-container{
    display: table;
    width: 50%;
    margin:auto;
}

.nav-tabs{
    text-align: left;
}

.nav-container h4{
    display: table-cell;
    vertical-align: middle;
    color: black;
    padding-right: 8%;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-container a:hover{
    color: #D6665A;
}


.hero-img{
    margin-top: 12%;
    width:80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.column{
    text-align: center;
}

.img-background{
    background-color:#FBF7EF;
}

.img-background p{
    text-align:center;
    margin-top:1%;
    font-size: 1rem;
}

img{
    margin-top: 5%;
}

p{
    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    line-height: 1.7;
}

h3{
    font-size: 2rem;
    Font-family: Arvo, Helvetica, Arial, sans-serif;
}

h1{
    font-size: 2.3rem;
    margin: 0%;
    Font-family: Arvo, Helvetica, Arial, sans-serif;
}

h2{
    font-size: 1.3rem;
    color: black;
    font-weight: lighter;
    Font-family: Arvo, Helvetica, Arial, sans-serif;
}

h4{
    text-align: left;
    font-size: 1.5em;
    margin-bottom:0%;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.reflections{
    margin-bottom: 5%
}

button {
    background-color: #D6665A;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-bottom: 5%;
}

button:hover {
    cursor: pointer;
    padding: 1.5x 1.5x;
    font-weight: 600;
}

@media (max-width: 1024px) {
    html { font-size: 120%; }
    
    .half-text-left{
        padding-left: 10%;
    }

    .half-text-right{
        padding-right: 10%;
    }
    
    .column.full { 
        width: 100%; padding-left:10%;
        padding-right:10%;
    }
    
   .img-background p{
       font-size: .8rem;
   }

    .nav-container h4{
       font-size: .9rem;
    }
    
    .half-text-left{
        padding-right: 10%;
    }

    .half-text-right{
        padding-left: 10%;
    }


}


@media (max-width: 790px) {
    h3{
       font-size: 1.7rem;
    }

    h1{
       font-size: 2.0rem;
    }

    h2{
       font-size: 1.2rem;
    }

    h4{
       text-align: left;
       font-size: 1.3em;
       margin-bottom:0%;
    }
    
    p{
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
     .img-background p{
        font-size: .7rem;
     }

     .logo-img img{
        width: 50px;
        height: 50px;
        object-fit:cover;
     }

     p{
        font-size: .9rem;
     }

     h3{
        font-size: 1.1rem;
     }

     h1{
        font-size: 1.5rem;
     }

     h2{
        font-size: .8rem;
     }

     h4{
        text-align: left;
        font-size: 1em;
        margin-bottom:0%;
     }

     .nav-container h4{
        font-size: .6rem;
        padding-right: 15%;
     }

    .logo{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 10%;
    }

    button {
        padding: 10px 10px;
        font-size: 14px;
    }

}
