 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

body, html {
   height:100%
}

body{
    font-family: 'Ubuntu', "Times New Roman", Times, serif;
    font-style: normal;
}

h1{
    font-family: 'Arvo', serif;
}

h2{
    font-size: 64px;
    font-family: 'Arvo', serif;
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }
.column.fifth { width: 20%; }
.column.ninety { width: 90%; }



button {
    background-color: #D6665A;
    border: none;
    color: white;
    padding: 35px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-top: -3%;
}

button:hover {
    cursor: pointer;
    padding: 1.5x 1.5x;
    font-weight: 600;
}

.hidden {
    display: none;
}