*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
}

.column.full { width: 100%; padding-left:10%;
    padding-right:10%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }

.logo{
    position:absolute;
    left: 2%;
    top: 2%;
    width: 8%;
}

.logo img{
    width: 100%;
}

h4 a{
    text-decoration: none;
    color: black
}

.nav-container{
    display: table;
    width: 50%;
    margin:auto;
}

.nav-tabs{
    text-align: left;
}

.nav-container h4{
    display: table-cell;
    vertical-align: middle;
    color: black;
    padding-right: 8%;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: didot;
}


.hero-img{
    margin-top: 12%;
    width:80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.half-text-left{
    padding-left: 10%;
}

.half-text-right{
    padding-right: 10%;
}

.column{
    text-align: center;
}

p{
    text-align: left;
}

.img-background{
    background-color:#FBF7EF;
}

.img-background p{
    text-align:center;
    margin-top:1%;
    font-size: 1rem;
}
 
img{
    margin-top: 4%;
}

.column.third img{
    width: 100%;
    height: 215px;
    object-fit:cover;
}

.one-img img{
    width: 100%;
    height: auto;
}

.two-img img{
    width: 100%;
    height: auto;
}

.bottom-pic{
    margin-bottom: 2%;
}

.column.fourth img{
    width: 100%;
    height: 250px;
    object-fit:scale-down;
}

.column.third.color-palette img{
         height: 100%;
         width: 100%;
     }

.front-page-img{
    height: 400px;
    width: 100%;
    object-fit:cover;
}

p{
    font-size: 1.2rem;
    font-weight: normal;
    font-family: didot;
}

h3{
    font-size: 2rem;
    color: #F99186;
}

h1{
    font-size: 2.3rem;
    color: #F99186;
    margin: 0%;
}

h2{
    font-size: 1.5rem;
    color: black;
    font-weight: lighter;
}

h4{
    text-align: left;
    font-size: 1.5em;
    margin-bottom:0%;
}

.reflections{
    margin-bottom: 10%
}

.link {
    font-size: 1.3rem;
}

 @media (min-width: 640px){
   html { font-size: 112%; }

 }


 @media (max-width: 1024px) {
   html { font-size: 120%; }
   .column.third.originals { width: 100%; }
   .column.third.originals img{
        height: 100%;
        width: 100%;
    }
    .img-background p{
        font-size: .8rem;
    }
    
    .column.half { width: 100%; }
    
    .half-text-left{
        padding-right: 10%;
     }

     .half-text-right{
        padding-left: 10%;
     }
     
     p{
        font-size: 1rem;
        font-weight: normal;
        font-family: didot;
     }

     h3{
        font-size: 1.7rem;
        color: #F99186;
     }

     h1{
        font-size: 2.0rem;
     }

     h2{
        font-size: 1.2rem;
     }

     h4{
        text-align: left;
        font-size: 1.3em;
        margin-bottom:0%;
     }
     
     .column.fourth { width: 100%; }
     .column.fourth img{
         height: 40%;
        width: 40%;
     }
     
     .nav-container h4{
        font-size: .8rem;
     }
    
     
}

@media (max-width: 400px) {
     .img-background p{
        font-size: .3rem;
     }
    
     p{
        font-size: .4rem;
        font-weight: normal;
        font-family: didot;
     }

     h3{
        font-size: .8rem;
        color: #F99186;
     }

     h1{
        font-size: 1.3rem;
     }

     h2{
        font-size: .6rem;
     }

     h4{
        text-align: left;
        font-size: .6em;
        margin-bottom:0%;
     }
     
     .nav-container h4{
        font-size: .4rem;
     }
    
     
}