.column.third img{
    width: 100%;
    height: 215px;
    object-fit:cover;
}

.one-img img{
    width: 100%;
    height: auto;
}

.two-img img{
    width: 100%;
    height: auto;
}

.bottom-pic{
    margin-bottom: 2%;
}

.column.fourth img{
    width: 100%;
    height: 250px;
    object-fit:scale-down;
}

.column.third.color-palette img{
         height: 100%;
         width: 100%;
     }

.front-page-img{
    height: 400px;
    width: 100%;
    object-fit:cover;
}

h3{
    color: #F99186;
}

h1{
    color: #F99186;
}

 @media (min-width: 640px){
   html { font-size: 112%; }

 }


 @media (max-width: 1024px) {
   .column.third.originals { width: 100%; }
   .column.third.originals img{
        height: 100%;
        width: 100%;
    }

    .column.half { width: 100%; }

     .column.fourth { width: 100%; }
     .column.fourth img{
         height: 40%;
        width: 40%;
     }
}
