.side-nav-3{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 60px;
    z-index: 0;
}
.side-nav-3 > ul{
    display: table;
    height: 100%;
    width: 100%;
    background-color: white;
    -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
    position: relative;
}

.side-nav-3 ul > li a {
    display: table-cell;
    vertical-align: middle;
        padding: 0px 3%
}

.side-nav-3 ul > li{
    float: left;
    width: 25%;
    padding-right: 0%;
    font-size: 18px;
    padding-left: 0%;
    display: table;
    height: 100%;
    text-align: center;
}

.side-nav-3 ul > li >a:hover{
    color: inherit;
}

.side-nav-3 ul > li:hover{
    opacity: 1;
    color: #D6665A;
}

.column.third img{
    width: 100%;
    height: 215px;
    object-fit:cover;
}

.one-img img{
    width: 100%;
    height: auto;
}

.two-img img{
    width: 100%;
    height: auto;
}

.bottom-pic{
    margin-bottom: 2%;
}

.column.fourth img{
    width: 100%;
    height: 250px;
    object-fit:scale-down;
}

.column.third.color-palette img{
         height: 100%;
         width: 100%;
     }

.front-page-img{
    height: 400px;
    width: 100%;
    object-fit:cover;
}


@media (max-width: 790px) {
    .side-nav-3 ul > li{
        font-size: 14px;
    }
}
 @media (min-width: 640px){
   html { font-size: 112%; }

 }

@media (max-width: 400px){
   .side-nav-3{
        top: 70px;
    }
    
    .side-nav-3 ul > li{
        font-size: 10px;
    }

 }




 @media (max-width: 1024px) {
   .column.third.originals { width: 100%; }
   .column.third.originals img{
        height: 100%;
        width: 100%;
    }

    .column.half { width: 100%; }

     .column.fourth { width: 100%; }
     .column.fourth img{
         height: 40%;
        width: 40%;
     }
     
     
}
