*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }

.column.full { width: 100%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%;}
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }

.container{
    padding-right: 10%;
    padding-left: 10%;
}

p{
    text-align: left;
    line-height: 29px;
    font-size: 1.2rem;
    font-weight: normal;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

h3{
    font-size: 1.7rem;
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
}

h1{
    font-size: 2.3rem;
    color: #F99186;
    margin: 0%;
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif; 
}

h2{
    font-size: 2rem;
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
    color: #438496;
    text-align: center;
    margin-top: 5%;
}

h4{
    text-align: left;
    font-size: 1.5em;
    margin-bottom:0%;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.nav-bar{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));
    
    text-align: center;
    color: white;
}

.nav-bar h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}

.logo{
    text-align: left;
}

.FAQ {
    height: 70px;
    display: table;
}

.FAQ h2{
    display: table-cell;
    vertical-align: middle;
}

.sponsor h2{
    display: table-cell;
    vertical-align: middle;
}

.logo img{
    height: 60px;
    width: auto;
    padding: 1%;
    margin-top: 1%
}

.sponsor {
    height: 70px;
    display: table;
}

.sponsor h2{
    font-weight: normal;
}

.hero-image{
    width: 100%;
    padding: 0%;
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.hero.column{
    padding: 0%;
}

.center-logo img{
  width:450px;
  display:block;
  position:absolute;
  left:0;
  right:0;
  top: 15%;
  margin:auto;
}

.hero-download p {
  position: absolute;
  color: white;
  display:block;
  position:absolute;
  left:0;
  right:0;
  bottom: 30%;
  margin:auto;
  text-align: center;
  font-size: 32px
}

.hero-download img {
  position: absolute;
  width: 200px;
  display:block;
  position:absolute;
  left:0;
  right:0;
  bottom: 2%;
  margin:auto;
}

.hero{
    position: relative;
    height: 70%;
}

.synopsis img{
    width: 100%;
    margin-top: 5%;
    height: 100%;
}

.synopsis-text{
    margin-top: 3%;
}

.faded{
    font-weight: normal;
}

.synopsis-text p{
    padding-right: 20%;
}

.how-it-works{
    background-color: rgba(67, 132, 150, .05); 
}

.icon-number{
    text-align: center;
}

.icon-number{
    height: 70px;
    text-align: center;
}

.HIW-step{
    text-align: center;
}

.HIW-step p{
    text-align: center;
    line-height: 24px;
}

.hiw-phone img{
    height: 450px;
    margin-bottom: 6%;
}

.HIW-step h3{
    margin: 0%;
}

.phone-row{
    text-align: center;
}

.how-it-works h2{
    margin-top: 2%;
}

.challenge img{
    height: 100%;
    width: 100%
}

.challenge.column.full{
    padding: 0%
}
.other-features h4{
    text-align: center;
}

.other-features p{
    text-align: center;
}

.other-features img{
    height: 100px;
     
}

.feature-right{
    text-align: center
}

.feature-left{
    text-align: center
}

.feature-right h4{
    margin: 2%;
}

.feature-right p{
    margin: 0%;
}

.feature-left h4{
    margin: 2%;
}

.feature-left p{
    margin: 0%;
}


.feature-row{
    margin-top: 4%
}

.other-features h3{
    margin-top: 5%;
    text-align: center;
}

.download-stickers{
    text-align: center;
}

.htr-left{
    background-color: rgba(205, 83, 96, .1)
}

.htr-left.column.third{
    padding: 0%;
    height: 450px;
}

.htr-middle{
    background-color: rgba(67, 132, 150, .1);
}

.htr-middle.column.third{
    padding: 0%;
    height: 450px;
}

.htr-right{
    background-color: rgba(65, 117, 5, .1);
    
}

.htr-right.column.third{
    padding: 0%;
    height: 450px;
}

.how-to-rewards p{
    text-align: center
}

.htr-left-img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
}

.htr-left-img-2{
    width: 50%;
    border:3px solid #FF7F00;
    border-radius: 15%;
}

.challenge-complete{
    position: absolute;
    right: 0;
    bottom: 10%;
    text-align: center;
    margin-top: 20%;
}

.htr-left{
    position: relative;
}

.challenge-complete p{
    font-size: 12px;
    line-height: 16px;
    font-weight: lighter;
    margin-top: 0%;
    opacity: .6;
}

.redeem.column.full{
    padding: 0%
}

.how-to-rewards.column.full{
    padding: 0%
}

.htr-middle{
    position: relative;
}

.htr-middle-img{
    display:block;
  position:absolute;
  left:0;
  right:0;
  bottom: 0%;
  margin:auto;
    width: 45%;
}

.htr-right{
    position: relative;
}

.htr-right-img{
  display:block;
  position:absolute;
  left:0;
  right:0;
  bottom: 0%;
  margin:auto;
  width: 100%;
}

.sponsors p{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 18px;
    
}

.sponsors h4{
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
}

button {
    background-color: #CD5360;
    border: none;
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    display: table-cell;
    vertical-align: middle;
    margin-top: 30%;
}

.recent-stories{
    background-color: rgba(179, 125, 78, .08);
}

.sponsors{
    margin-bottom: 4%;
}

.blog-story img{
    width: 218px;
}

.blog-story{
    margin-bottom: 5%;
}

.twitter-story img{
    margin-bottom: 5%;
    float: right;
}

.footer{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));
    
    text-align: center;
    color: white;
}

.footer h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}
.footer p{
    font-size: .7rem;
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
}

.copyright{
    height:60px;  
    display: table;
}

.blog-story img{
    margin-right: 5%;
}

.icon{
    height:60px;  
    display: table;
}

.icon i{
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
    font-size: 36px;
}

.download-stickers{
    margin-bottom: 5%;
}

.try-it-now {
    margin-top: 5%;
}

.faq{
    height:60px;  
    display: table;
}

.faq h2{
    vertical-align: middle;
    display: table-cell; 
}

.reflections{
    margin-bottom: 5%
}

button {
    background-color: #D6665A;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-bottom: 5%;
}

@media (max-width: 1300px) {
    .synopsis-text p{
        font-size: 16px;
        padding-right: 10%;
        line-height: 24px;
    }
}

@media (max-width: 1100px) {
    .blog-story img{
        margin-right: 2%;
    }
    
    .recent-story-blog.column.half{
        padding: 0%;
    }
    
    .synopsis-text p{
        padding-right: 0%;
    }
    
    .container{
        padding: 0%;
    }

    .other-features img{
        height: 60px;
    }

    .feature-right p{
        font-size: 16px;
    }
    
    .htr-left.column.third{
        padding: 0%;
        height: 400px;
    }

    .htr-middle.column.third{
        padding: 0%;
        height: 400px;
    }

    .htr-right.column.third{
        padding: 0%;
        height: 400px;
    }
    
    .how-it-works h3{
        font-size: 24px;
    }
    
    .icon-number{
        font-size: 24px;
        height: 50px;
    }
    
    .how-it-works p{
        line-height: 20px;
    }
    
    .act-text p{
        font-size: 10px; 
    }
}

@media (max-width: 990px) {
    .recent-story-twitter.column.half{
        width: 100%;
    }
    
    .twitter-story{
        text-align: center;
    }
    
    .twitter-story img{
        margin-bottom: 2%;
        float: none;
    }
    
    .recent-story-blog.column.half{
        width: 100%;
    }
    
    .blog-story img{
        margin-right: 1%;
        margin-left: 1%;
        width: 208px;
    }
    
    .blog-story{
        margin-bottom: 1%;
        text-align: center;
    }
    
    p {
        font-size: 14px;
        line-height: 18px;
    }
    
    .sponsors p{
        margin-top: 5%;
        font-size: 16px;
    }
    
    button {
        padding: 15px 20px;
        margin-top: 20%;
    }
    
    .HIW-step.column.third{
        width: 100%;
    }
    
    .challenge-box.column.fourth{
       width:50%;
    }
    
    .column.fourth img{
       width:70%;
    }
    
    .left-act{
        float: left;
        margin-bottom: 5%;
    }
    
    .right-act{
        float: right;
        margin-bottom: 5%;
    }
    
    .htr-left.column.third{
        width: 100%;
        height: 300px;
    }
    
    .htr-middle.column.third{
        width: 100%;
        height: 300px;
    }
    
    .htr-right.column.third{
        width: 100%;
        height: 300px;
    }
    
    .htr-right-img{
        height: 80%;
        width: auto;
    }
    
    .htr-middle-img{
        height: 80%;
        width: auto;
    }
    
    .htr-left-img{
        height: 80%;
        width: auto;
        left: 15%;
    }
    
    .htr-left-img-2{
        width: 20%;
         
    }
    
    .challenge-complete{
        right: 20%;
    }
    
    .redeem-text p{
        font-size: 18px;
    }
    
    .HIW-step p{
        font-size: 18px;
    }
    
}

@media (max-width: 900px) {
    .HIW-step.column.third{
        width: 100%;
    }
    
    .challenge-box.column.fourth{
       width:50%;
    }
    
    .column.fourth img{
       width:70%;
    }
    
    .left-act{
        float: left;
        margin-bottom: 5%;
    }
    
    .right-act{
        float: right;
        margin-bottom: 5%;
    }
    
    .sponsors p{
        margin-top: 5%;
        font-size: 14px;
    }
    
    .sponsor-list.column.fourth{
        padding: 0%;
    }
    
    .icon i {
        font-size: 24px;
    }
    
    .copyright p{
        font-size: 8px;
        line-height: 12px;
    }
    
    .icon.column.third{
        padding: 0%;
    }
    
    .synopsis-phone img{
        height: 100%;
    }
    
    .synopsis-text h3{
        margin: 0%;
        font-size: 24px;
    }
    
    .synopsis-text p{
        font-size: 12px;
    }
    
    .center-logo img{
        width:350px;
    }
    
    .nav-bar h2{
        font-size: 16px;
    }
    
}

@media (max-width: 690px) {
    .challenge-complete{
        right: 2%;
    }
    
    .htr-left-img-2{
        width: 70px;
         
    }
    
    .redeem-text p{
        font-size: 14px;
    }
    
    .sponsors p{
        margin-top: 5%;
        font-size: 10px;
    }
    
    .sponsors h4{
        font-size: 18px;
    }
    
    button {
        padding: 10px 15px;
        margin-top: 20%;
        font-size: 14px;
    }
    
    .synopsis-text p{
        font-size: 12px;
        line-height: 16px;
    }
    
}

@media (max-width: 600px) {
    .challenge-box.column.fourth{
       width:100%;
    }
    
    .column.fourth img{
       width:50%;
    }
    
    .left-act{
        float: none;
        margin-bottom: 5%;
    }
    
    .right-act{
        float: none;
        margin-bottom: 5%;
    }
    
    .challenge {
        text-align: center;
    }
    
    .other-features h4{
        font-size: 18px;
    }
    
    .feature-left.column.half{
        padding: 0%;
    }
    
    .feature-right.column.half{
        padding: 0%;
    }
    
    .feature-row.column.half{
        padding: 0%;
    }
    .column.fourth img{
       width:75%;
    }
    
    .download-stickers img{
        width: 100%;
    }
    
    .sponsor-list.column.fourth{
        width: 50%;
    }
    
    button {
        padding: 10px 15px;
        margin-top: 20%;
        font-size: 18px;
    }
    
    .twitter-story img{
        width: 100%;
    }
    
    .blog-story img{
        width: 42%;
    }
    
    .synopsis-text h3{
        font-size: 16px;
    }
    
    .synopsis-text p{
        margin-top: 1%;
    }
    
    .center-logo img{
        width:250px;
    }
    
    .nav-bar h2{
        font-size: 12px;
    }
}

@media (max-width: 530px) {
    .synopsis-phone.column.third {
        width: 100%;
        height: 250px;
        margin-bottom: 3%;
    }
    
    .synopsis-text.column.two-thirds{
        width: 100%;
        
    } 
    
    .synopsis-text{
        text-align: center;
    }
    
    .synopsis-text p{
        text-align:justify;
    }
    
    .synopsis-phone{
        text-align: center;
    }
    
    .synopsis-phone img{
        height: 100%;
        width: auto;
    }
}

@media (max-width: 480px) {
    .blog-story img{
        width: 39%;
    }
    
    .icon i {
        font-size: 18px;
    }
    
    .logo.column.third{
        padding: 0%;
    }
    
    h2{
        font-size: 1.5rem;
    }
    
    .how-it-works h3{
        font-size: 1.2rem;
    }
    
    .how-it-works p{
        margin-top: 0%;
    }
}

@media (max-width: 400px) {
    .FAQ {
        height: 50px;
        display: table;
    }
    
    .logo img{
        width: 75%;
        height: auto;
        margin: 5%;
    }

    .sponsor {
        font-size: 8px;
        height: 50px;
    }
    
    .center-logo img{
        width:150px;
    }
    
    .hero-download img {
        width: 100px;}
    
    .hero-download p{
        bottom: 25%;
    }
    
    .how-it-works p{
        font-size: 12px;
    }
    
    .hiw-phone img{
        width: 50%;
        height: auto;
    }
    
    .feature-text.column.full{
        padding: 1%;
    }
    
    .feature-text p{
        font-size: 12px;
    }
    
    .download-stickers img{
        width: 100%;
        height: auto;
    }
    
    .challenge-complete{
        right: 0%;
    }
    
    .challenge-complete.column.half{
        padding: 0%;
    }
    
    .htr-left-img-2 {
        width: 50px;
        
    }
    
    .challenge-complete p{
        font-size: 8px;
        line-height: 12px;
    }
    
    .htr-left-img{
        left: 1%;
    }
    
    .htr-right-img {
        width: 100%;
        height: auto;
    }
    
    .blog-story img{
        width: 36%;
    }
    
    .icon-number {
        height: 40px;
    }
    
}
