*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

a{
    text-decoration: none;
    color: white;
}

button:hover {
    cursor: pointer;
    padding: 1.5x 1.5x;
    font-weight: 600;
}

.question h4:hover{
    cursor: pointer;
    font-weight: bolder;
}

.nav-bar h2:hover{
    font-weight: bolder;
}

.column {
         float: left;
     }

.column.full { width: 100%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%;}
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.three-fourths { width: 75%; }
.column.flow-opposite { float: right; }
.column.tenth { width: 10%; }
.column.nine-tenth { width: 90%; }

p{
    text-align: left;
    line-height: 29px;
    font-size: 1.2rem;
    font-weight: normal;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

h3{
    font-size: 1.7rem;
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
}

h1{
    font-size: 2.3rem;
    color: white;
    margin: 0%;
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif; 
}

h2{
    font-size: 2rem;
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
    color: #438496;
    text-align: center;
    margin-top: 5%;
}

h4{
    font-size: 1.5em;
    margin-bottom:0%;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.hidden{
    display: none;
}

.nav-bar{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));
    
    text-align: center;
    color: white;
}

.nav-bar h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}

.logo{
    text-align: left;
    height: 70px;
    display: table;
}

.sponsor{
    height: 70px;
    display: table;
}

.FAQ {
    height: 70px;
    display: table;
}

.sponsor h2{
    display: table-cell;
    vertical-align: middle;
}

.FAQ h2{
    display: table-cell;
    vertical-align: middle;
}

.logo img{
    height: 50px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
    margin-top: 2%;
    margin-left: 10%;
}

.hero-image{
    width: 100%;
    padding: 0%;
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.hero.column{
    padding: 0%;
}

.hero h1{
    position: relative;
    font-size: 48px;
    display: table-cell;
    vertical-align: middle;
}

.hero{
    position: relative;
    height: 300px;
    display: table;
    text-align: center;
}

.container{
    padding-right: 20%;
    padding-left: 20%;
}

.expand p{
    text-align: right;
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
    color: #CD5360;
}

.expand p:hover{
    cursor: pointer;
    font-weight: bolder;
}

.question {
    height: 70px;
    border-bottom: 2px black solid;
    display: table;
}

.answer {
    height: 70px;
    display: table;
}

.answer h4{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 1.5em;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #438496;
}

.answer-box{
    border-bottom: 2px black solid;
}

.question h4{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 1.5em;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.plus{
    text-align: right;
}

.plus i{
    display: table-cell;
    vertical-align: middle;
    color: #CD5360;
}

.ask{
    text-align: center;
    height: 70px;
    display: table;
}

.ask h4{
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #438496;
    display: table-cell;
    vertical-align: middle;
}

form{
    display: table;
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
}

input[type=text] {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 100%;
    font-size: 24px;
    text-align: left;
    font-size: 1.5em;
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: normal;
    border: 3px solid  #D6665A;
}

.question-field{
    margin-bottom: 20%;
}

.question-box{
    height: 70px;
    display: table;
}

.fa.fa-send{
    padding-top: 2%;
    color: white;
    font-size: 36px;
    text-align: right;
}

.question:hover {
    cursor: pointer;
}

.answer:hover {
    cursor: pointer;
}

p:hover {
    cursor: pointer;
}

.footer{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));
    
    text-align: center;
    color: white;
}

.footer h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}
.footer p{
    font-size: .7rem;
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
}

.copyright{
    height:60px;  
    display: table;
}

.faq{
    height:60px;  
    display: table;
}

.faq h2{
    vertical-align: middle;
    display: table-cell; 
}

.icon{
    height:60px;  
    display: table;
}

.icon i{
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
    font-size: 36px;
}



button {
    background-color: #D6665A;
    border: 1px solid #D6665A;
    color: white;
    padding: 13px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
}

button:hover {
    cursor: pointer;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .container{
        padding-right: 10%;
        padding-left: 10%;
    }
    
}

@media (max-width: 1024px) {
    .hero h1{
        font-size: 36px;
    }
    
    .question h4{
        font-size: 1.2em;
    }
    
    .answer h4{
        font-size: 1.2em;
    }
    
    .container{
        padding-right: 10%;
        padding-left: 10%;
    }
    
    p{
        line-height: 24px;
        font-size: 1.0rem;
    }
    
    .fa.fa-send{
        padding-top: 2%;
        color: white;
        font-size: 36px;
        text-align: right;
    }
    
    button {
        font-size: 30px;
        padding: 15px;
    }

}

@media (max-width: 750px) {
    .container{
        padding-right: 5%;
        padding-left: 5%;
    }
    
    .hero h1{
        font-size: 28px;
        line-height: 32px;
    }
}

@media (max-width: 650px) {
    .fa.fa-send{
        display: none;
    }
    
    button {
        padding: 15px 5px;
        height: 70px;
    }
    
    .question h4{
        font-size: 1em;
    }
        
    p{
        line-height: 20px;
        font-size: 1rem;
    }
    
    .answer h4{
        font-size: 1em;
    }
    
    .container{
        padding-right: 2%;
        padding-left: 2%;
    }
    
    input[type=text] {
        font-size: 1em;
        padding: 5px 20px;
    }
    
    .sponsor h2{
        font-size: 1em;
    }

    .FAQ h2{
        font-size: 1em;
    }

    .logo img{
        height: 50px;
    }
    
    .footer p{
        font-size: .4rem;
        line-height: .6rem;
    }

}

@media (max-width: 400px) {
    
    .hero h1{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .sponsor h2{
        font-size: .6rem;
    }

    .FAQ h2{
        font-size: .6em;
    }
    
    .logo img{
        height: 30px;
        margin-top: 10%;
        margin-left: 5%;
    }
    
    .logo{
        text-align: left;
        height: 50px;
        display: table;
    }

    .sponsor{
        height: 50px;
        display: table;
    }

    .FAQ {
        height: 50px;
        display: table;
    }
    
    .footer p{
        font-size: .2rem;
        line-height: .7rem;
    }
    
    .icon i{
        text-align:center; 
        vertical-align: middle;
        display: table-cell; 
        font-size: 24px;
    }
    
    .faq h2{
       font-size: 18px;  
    }
    
    button {
        font-size: 24px;
        padding-left: 8px;
        text-align: left;
        height: 50px;
        padding-top: 9px;
    }
    
    input[type=text] {
        font-size: 1em;
        padding: 3px 20px;
    }
    
    .hero{
        height: 100px;
    }
    
    .question-box{
        height: 50px;
    }
    
}
