.normal-nav{
    float: none;
}

a:hover{
    cursor: pointer;
}

.mobile-tabs{
    height: 70px;
    width: 100px;
    position: fixed;
    display: block;
}

ul, li, a {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
ul > li {
    float: right;
    height: 70px;
    display: table;
}

.active{
    background-color: #D6665A;
    color: white;
}

ul > li i.fa.fa-navicon{
    display: table-cell;
    vertical-align: middle;
}

ul > li a {
    color: black;
    line-height: 40px;
    height:40px;
    display:block;
    padding:0px 5%;
}

ul li ul {
    display: none;
    position: absolute;
    background: white;
    top:70px;
    width: 150px;
    right: 0px;
    border-radius: 15px 0 0 15px;
     -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

ul li ul li {
    float: none;
    text-align: center;
    display: table;
    height: 70px;
    width: 100%;
}

ul li ul li a{
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}


i.fa.fa-navicon{
    
    font-size: 36px;
}

.selected{
    color: white;
}

.dropdown {
    position: fixed;
    display: block;
    right: 0px;
    background-color: white;
    border-radius: 0 0 0 15px;
    color: black;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

/*.dropbtn.active{
    background-color: #D6665A;
    border-radius: 0 0 0 0;
}




.dropdown-content {
    border-radius:15px  0  0 15px;
    display: block;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    color: black;
    padding: 25px 25px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1; font-weight: bolder;
color:#D6665A; border-radius: 15px; }*/

.hidden{
    display: none;
}

.hero-nav a{
    text-decoration: none;
    color: inherit;
}

.hero-nav a:hover{
    color:#D6665A;
    text-decoration: none;
}

.hero{
    height: 100%;
    display: table;
    width: 100%;
}

.hero-nav li:hover {
  cursor: pointer;
  color: #D6665A;
  font-weight: bold;
  -webkit-transform: scale(1.1);
}

.hero-nav li{
    margin: auto;
}


.title h4 {
    padding-top: 20px;

}

.hero-nav ul{
    width:100%;
    margin:0 auto;
    padding:0;
    list-style:none;
    text-align:center; 
}

.hero-nav{
   margin: 0% auto auto auto;
   position:fixed;
   top: 0%; 
   left: 0%;
   bottom: 0;
   height: 70px;
   background-color: white;
   width: 100%;
}

.hero-nav li {
    list-style-type: none;
    font-size: 24px;
    display:inline-block;
    width:15%;
    margin:0;
    padding:1.5% 0 0 0;
    
}


.hero-logo{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.hero-logo h1 {
    font-size: 3.5rem;
    font-weight: normal;
}

.hero-logo h4{
    font-weight: lighter;
    font-size: 32px;
    margin-top: -60px;
    color: rgba(0, 0, 0, .7);
}

.hero-logo img{
    width: 400px;
}

div.column.ninety{
    height: 40%;
    float: right;
    display: table;
    color:white;
    text-align: center;
    margin-bottom: 5%;
}

.humankind{
    background-image: url(../images/humankind_background.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 30%;
    margin-top: 70px;
}

.heartbeatz{
    background-image: url(../images/Blocjams_Image.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 60%;
}

.platemate{
    background-image: url(../images/PlateMate_Hero.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 60%;
}

.traks{
    background-image: url(../images/Traks_Image.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 60%;
}

.open-hand{
    background-image: url(../images/Open_hand_background.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 0% 60%;
}

.collabormate{
    background-image: url(../images/Collabormate_Background.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 60%;
}

div.column.ninety:hover{
    cursor: pointer;
   box-shadow: inset 0 0 0 15px rgba(255, 255, 255, .8);
    border-radius: 10px; 
    
}

.contact:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 15px rgba(255, 255, 255, .8);
    border-radius: 10px;
}

.text-middle{
    display: table-cell;
    vertical-align: middle;
}

div.column.full h2{
    margin-top: 0%;
     margin-bottom: 0%;
}

div.column.full h4{
    font-size: 32px;
    font-weight: 100;
    color: rgba(255, 255, 255, .8);
    margin: 0%;
}

.contact{
    height: 25%;
    text-align: center;
    display: table;
    width: 100%;
    margin: auto;
    background-image: url(../images/contact-banner.png);
    background-size: 1200px auto;
    background-position: 30% 20%;
    color: white;
}

.contact h2{
    display: table-cell;
    vertical-align: middle;
    font-size: 48px;
    font-weight: 100;
    color: white;
   text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.contact h2 a{
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.footer{
    background: -webkit-linear-gradient(left top, #105A6A, rgba(16, 90, 106, .6));
    height: 60px;
    color: white;
}

.icons{
    float: right;
    text-align: center;
}

.fa{
    font-size: 36px;
}

div.column.third{
    height: 60px;
    display: table;
}

div.column.third p{
    display: table-cell;
    vertical-align: middle;
}

div.column.third a{
    display: table-cell;
    vertical-align: middle;
    color: white;
}

@media (max-width: 980px) {

    .hero-nav li {
        width:20%;
    }
    
    div.column.full h2{
    }

    div.column.full h4{
        font-size: 24px;
    }
    
    .open-hand{
        background-size: 980px auto;
        background-position: 50% 30%;
    }

    .collabormate{
        background-position: 40% 40%;
    }

@media (max-width: 680px) {
    
    .hero-nav li {
        width:24%;
    }
    
    .project-title{
        font-size: 48px;
        padding-left: 0%;
        margin-bottom: 3%;
    }
    
    div.column.full h2{
        font-size: 36px;
    }

    div.column.full h4{
        font-size: 20px;
    }
    
    div.column.ninety{
        padding-right: 0%;
        padding-left: 0%; 
    }
    
    div.column.full h2{
        font-size: 48px;
        padding-right: 0%;
        padding-left: 0%; 
    }

    div.column.full h4{
        font-size: 20px;
        padding-right: 0%;
        padding-left: 0%; 
    }

    
    .contact{
        width: 100%;
    }
}
    
@media (max-width: 550px) {

    .hero-nav li {
        font-size: 18px;
    }
    
    .project-title{
        font-size: 42px;
    }
    
        .hero-logo h1 {
        font-size: 2.5rem;
            margin-bottom: 40px;;
    }

    .hero-logo h4{
        font-weight: lighter;
        font-size: 24px;
        margin-top: -60px;
    }

    .hero-logo img{
        width: 300px;
    }
    
    .fa{
        font-size: 36px;
    }
    
    .footer{
        height: 70px;
    }

    div.column.third{
        height: 70px;
    }

    .contact h2{
        font-size: 36px;
    }

}
    
@media (max-width: 400px) {
    
    .mobile-tabs{
        display: block;
    }
    
    .hero-nav{
        display: none; 
    }
    
     .hero-logo h1 {
        font-size: 2rem;
            margin-bottom: 40px;;
     }

    .hero-logo h4{
        font-weight: lighter;
        font-size: 20px;
        margin-top: -60px;
    }
    .hero-logo img{
        width: 220px;
    }
    
    div.column.full h2{
        font-size: 36px;
}

    div.column.full h4{
        font-size: 16px;

    }
    
    .contact h2{
        font-size: 24px;
    }
    
    .contact{
        background-size: 500px auto;
    }
    
}