 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

body, html {
   height:100%
}

body{
    font-family: "American typewriter", "Times New Roman", Times, serif;
    font-style: normal;
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }
.column.fifth { width: 20%; }

button {
    background-color: #D6665A;
    border: none;
    color: white;
    padding: 35px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-top: -3%;
}

#hkstyle {
    background-color: #75A48B;
    border: none;
    color: white;
    padding: 35px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-top: -3%;
}

.hidden {
    display: none;
}

.hero{
    height: 100%;
}

.hero-nav{
    margin-top: 20%;
}

.title h4 {
    padding-top: 20px;
}

.hero-nav li {
    list-style-type: none;
    color: black;
    padding-left: 25%;
    padding-bottom: 5%;
    font-size: 18px;
    padding-top: 5%;
}

.hero-nav a{
    text-decoration: none;
}

.hero-logo{
    margin-top:15%;
}

.hero-logo h1 {
    font-size: 3.5rem;
    font-weight: normal;
    padding-left: 3%;
}

.hero-logo h4{
    font-weight: lighter;
    font-size: 32px;
    margin-top: -60px;
    padding-left: 10%;
}

.hero-logo img{
    width: 450px;
    padding-left: 8%;
}

.notFancyFont {
    font-family: Poppins, "Times New Roman", Times, serif;
}

.about{
    height: 100%;
    width: 50%;
    background-color: #D6665A;
    text-align: center;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.about-nav a {
    text-decoration: none;
}

.about-nav img:hover, .about-nav h4:hover {
  cursor: pointer;
}

.about-nav h4 {
    color: white;
    font-weight: lighter;
    margin: auto;
}

.about-nav .column.third {
  background-color: #D6665A;
  border-radius: 15px;
}
.about-nav .column.third.selected {
  background-color: rgba(217,207,176,0.3);
}

.about h1{
    padding-top: 40%;
    font-weight: normal;
}

.about-text{
    margin-top: 3%;
}

.attribute-right {
    height: 100%;
    width: 50%;
    float:right;
}

.attribute-right img{
    width: 78px;
    margin-top: 5%
}




.attribute-right li {
    padding-top: 4%;
    padding-bottom: 4%;
    line-height: 140%;
}

.interests-right img{
    width:100%;
}

.interests-right {
    height: 100%;
    width: 50%;
    float:right;
}

.interests-right p{
    margin-top: 12.13%;
    margin-bottom: 12.13%;
    font-size: 24px;
    font-family: chalkduster, Poppins, "Times New Roman", Times, serif;
}

.interests-content{
    margin-top: 15.4%;
    margin-bottom: 15.4%;
}

.story-right{
    height: 100%;
    width: 50%;
    float:right;
    text-align: center;
}

.story-length{
    margin-top: 10%;
    margin-left: 2%;
    height: 85%;
    text-align: left;
    overflow: scroll;
}

.story-right h5 {
    font-weight: lighter;
}

#story-button{
    margin-top: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 20%;
    font-size: 18px;
    color: #D6665A;
    background-color:white;
}

.projects-nav {
    height: 100%;
    width: 50%;
    float:left;
}

.projects-nav h4 {
    color:black;
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
}

.projects-nav a {
    color: black;
}

.projects-nav h1 {
    padding-top: 10%;
    padding-bottom: 15%;
    text-align: center;
    font-size: 48px;
}

.traks-right{
    height: 100%;
    width: 50%;
    float:right;
    background-image: url(../images/Traks%20Image.png);
    color:white;
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
}

.traks-right h1 {
    text-align: center;
    margin-top: 45%;
}

.traks-right h4 {
    text-align: center;
    font-family: Poppins, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 24px;
    position: relative;
    bottom: 25px;
    margin-top: 1%;
}

.blocjams-right {
    height: 100%;
    width: 50%;
    float:right;
    background-image: url(../images/Blocjams%20Image.png);
    color:white;
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
}

.blocjams-right h1 {
    text-align: center;
    margin-top: 45%;
}

.blocjams-right h4 {
    text-align: center;
    font-family: Poppins, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 24px;
    position: relative;
    bottom: 25px;
    margin-top: 1%;
}

.humankind-right {
    height: 100%;
    width: 50%;
    float:right;
    background-image: url(../images/humankind%20Image.png);
    color:white;
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center
}

.humankind-right h1 {
    text-align: center;
    margin-top: 45%;
}

.humankind-right h4 {
    text-align: center;
    font-family: Poppins, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 24px;
    position: relative;
    bottom: 25px;
    margin-top: 1%;
}

.gallery-left {
    background-color: #75A48B;
    text-align: center;
    color: white;
    height: 100%;
    width: 50%;
    float:left;
}

.selector-four{
    position: absolute;
    height: 200px;
    width: 200px;
    margin-left: 7.6%;
    margin-top: 24%;
    background-color: rgba(217,207,176,0.3);
    border-radius: 15px;
}

.selector-five{
    position: absolute;
    height: 200px;
    width: 230px;
    margin-left: 25.3%;
    margin-top: 24%;
    background-color: rgba(217,207,176,0.3);
    border-radius: 15px;
}

.gallery-left h1 {
    padding-top: 20%;
    padding-bottom: 20%;
}

.gallery-left a {
    color: white;
}

.gallery-left img#left-img{
    margin-left: 25%;
}

.gallery-left img#right-img{
   margin-right: 28%;
}

h4#text-one {
    margin-left: 25%;
    font-weight: lighter;

}
.text-two {
    margin-right: 28%;
    font-weight: lighter;
    margin-top:
}

.icon-right{
    height: 100%;
    width: 50%;
    float:right;
    text-align: center;
}

#icon-button{
    margin-top: 10%;
}

.icons {
    padding-top: 30%
}

.icon-right img {
    padding: 10%;
}

.wallpaper-right{
    height: 100%;
    width: 50%;
    float:right;
    text-align: center;
}

#top-left-img {
    padding-bottom: 6%;
    margin-top: 40%;
    margin-left: 12%;
}

#bottom-left-img {
    margin-left: 12%;
}

#top-right-img {
    padding-right: 12%;
    margin-top: 40%;
}

#gallery-button{
    margin-top: 10%;
}

.contact-left{
    height: 100%;
    width: 50%;
    float:left;
    text-align: center
}

.contact-info{
    margin-top: 20%
}

.contact-info img{
    float:left;
    clear: both;
    padding-left: 200px;
}

.contact-info p{
    font-size: 24px;
    margin-top: 1%
}

.contactRight{
    text-align: center;
    background-image: url(../images/bannerImage.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 50%;
    float:right;
}

.bottom-logo{
    padding-top: 20%;

}

.contactRight h1 {
    padding-top: 60%;
    color: white;
    text-shadow: 0 2px 4px #000000;
    font-weight: normal;
    font-size: 48px
}

 @media (min-width: 640px) {
     html { font-size: 112%; }
 }

 /* Large screens (1024px) */
 @media (min-width: 1024px) {
     html { font-size: 120%; }
 }
