.section-imgs img{
    width: 100%;
}

.single-img img{
    width: 100%;
}

.profile-imgs img {
    width: 70%;
    height: auto;
}

@media (max-width: 720px) {
    .column.half{
        width: 100%;
    }

    .nav-container h4{
        font-size: .8rem;
     }
}

@media (max-width: 400px) {

     .logo-img img{
        width: 50px;
        height: 50px;
        object-fit:cover;
     }

}
