.small-single img{
    width: 70%;
}

.profile-imgs img {
    width: 70%;
    height: auto;
}

@media (max-width: 720px) {
    .column.half{
        width: 100%;
    }
    .small-single img{
        width: 80%;
    }
    .nav-container h4{
        font-size: .8rem;
     }
}

@media (max-width: 400px) {
        
    .small-single img{
        width: 80%;
    }
    
     .logo-img img{
        width: 50px;
        height: 50px;
        object-fit:cover;
     }

}
