.half-text-left{
    padding-left: 10%;
}

.half-text-right{
    padding-right: 10%;
}

.TextLeft{
    padding-left:10%;
}

.TextRight{
    padding-right:10%;
}

.survey-{
    margin-top:4%;
    margin-bottom:2%;
    display: table;
    height: 250px;
    text-align: center;
}

.SizeImg img{
    height:auto;
    width:75%;
}

.SizeImg1 img{
    height:auto;
    width:72%;
}

.2{
    margin-top:5%;
}

.3{
    padding-bottom:.5%;
}

.4{
    padding-top:.5%;
    padding-bottom:.5%
}

.5 img{
    margin-top:25%
}

.NoCaption{
    margin-top:4%;
    margin-bottom:4%;
}

.OtherUX p{
    text-align:center;
}

h3{
    color: #F3B040;
}

h1{
    color: #F3B040;
}

.Black{
    text-align:left;
    color:F3B040;
}

@media (max-width: 1024px) {
   html { font-size: 120%; }
   .column.third { width: 100%; }
   .column.third img{
        height: auto;
        width: 70%;

    }

    .logo{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 10%;
    }

     .size img{
        position:absolute;
        height:auto;
        width:80%;
    }

    .TextLeft{
    padding-right:10%;
    }

    .TextRight{
    padding-left:10%;
    }

    .Extra{
        width:80%;
        height:auto;
    }

    .column.half { width: 100%; }



    .half-text-left{
        padding-right: 10%;
     }

     .half-text-right{
        padding-left: 10%;
     }

     .column.fourth { width: 100%; }
     .column.fourth img{
         height: 40%;
        width: 40%;
     }

     .5 img {
    margin-top: 0%;
    }

    .survey-{
      margin-top:4%;
      margin-bottom:2%;
      display: table;
      height: 250px;

  }

}

@media (max-width: 700px) {
    .survey-{
        margin-top:4%;
        margin-bottom:2%;
        display: table;
        height: 200px;
    }
}


@media (max-width: 400px) {
     .logo{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 10%;
    }

     .size img{
        position:absolute;
        height:auto;
        width:80%;
    }

    .survey-{
        margin-top:4%;
        margin-bottom:2%;
        display: table;
        height: 200px;
    }

}
