.survey-{
    margin-top:4%;
    margin-bottom:2%;
    display: table;
    height: 250px;
    text-align: center;
}

.SizeImg img{
    height:auto;
    width:75%;
}

.SizeImg1 img{
    height:auto;
    width:72%;
}

.NoCaption{
    margin-top:4%;
    margin-bottom:4%;
}

h3{
    color: #F3B040;
}

h1{
    color: #F3B040;
}

.Black{
    text-align:left;
    color:F3B040;
}

@media (max-width: 1024px) {
   .column.third { width: 100%; }
   .column.third img{
        height: auto;
        width: 70%;

    }

    .logo{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 10%;
    }

     .size img{
        position:absolute;
        height:auto;
        width:80%;
    }

    .Extra{
        width:80%;
        height:auto;
    }

    .column.half { width: 100%; }

     .column.fourth { width: 100%; }
     .column.fourth img{
         height: 40%;
        width: 40%;
     }

    .survey-{
      margin-top:4%;
      margin-bottom:2%;
      display: table;
      height: 250px;

  }

}

@media (max-width: 700px) {
    .survey-{
        margin-top:4%;
        margin-bottom:2%;
        display: table;
        height: 200px;
    }
}


@media (max-width: 400px) {
     .logo{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 10%;
    }

     .size img{
        position:absolute;
        height:auto;
        width:80%;
    }

    .survey-{
        margin-top:4%;
        margin-bottom:2%;
        display: table;
        height: 200px;
    }

}
